body {
    font-family: 'Lato', sans-serif;

}
.container {
    width: 1200px;
    margin: auto;
    text-align: center;
}
.container p{
    font-weight: bold;
    border-bottom: 2px solid rgb(200, 19, 19);
}
.container1 {
    width: 1200px;
    margin: auto;
    
}